*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;

}

.title{
position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: #FFFFFF;

}

.sub-title{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #FFFFFF;
}

.primary-button{
    font-weight: 700;
    font-size: 16px;
    background: #005FAC;
    padding: 18px 35px;
    border: 0px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    position: absolute;
    left: 1210px;
    top: 578px;

    

}

.second-section{
    display: flex;
}

.section-title{
position: absolute;
width: 288px;
height: 94px;
left: 920px;
top: 1178px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}

.section-sub-title{
position: absolute;
width: 416px;
height: 104px;
left: 920px;
top: 1296px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}

.section-description{
    position: absolute;
width: 349px;
height: 162px;
left: 920px;
top: 1416px;
}

.section-descript{

    position: absolute;
    width: 349px;
    height: 162px;
    left: 920px;
    top: 1416px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;    
}

.section-image{
    position: absolute;
width: 569px;
height: 723.3px;
left: 264px;
top: 939px;
}

.third-section-tagline{
    position: absolute;
width: 179px;
height: 47px;
left: 765px;
top: 1792px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
text-align: center;
color: #151414;
}

.container{
    position: absolute;
width: 1141px;
height: 202.96px;
left: 230px;
top: 1889px;
display: flex;
gap: 30px;
padding: 20px;
text-align: center;
justify-content: space-around;

}

.third-section-title{
    font-weight: 700;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #151414;
}

.third-section-subtitle{
    font-weight: 500;
font-size: 15px;
line-height: 29px;
text-align: center;
color: #737272;
}

.banner{
position: absolute;
border-radius: 8px;;
border-radius: 8px;
width: 1140px;
height: 300px;
left: 230px;
top: 2221.96px;
}

.banner-title{
    position: absolute;
width: 459px;
height: 94px;
left: 294px;
top: 2280.96px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
z-index: 1;
}

.banner-button{

position: absolute;
width: 160px;
height: 64px;
left: 294px;
top: 2398.96px;
border-radius: 8px;
border-radius: 5px;
border-color: #FFFFFF;
background: white;
font-weight: 600;
font-size: 20px;
color: #005FAC;
border: none;
z-index: 1;
}

.color-overlay{

background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
position: absolute;
width: 1140px;
height: 300px;
left: 230px;
top: 2221.96px;
opacity: .4;
}